<header>
  <div class="logoapp">
    <a id="log" routerLink="/main" routerLinkActive="active"><img class="logo_header" src="/./assets/img/pmaicon.svg"><i>PMA</i></a>
  </div>

  <div class="switcher">
    <button class="sw-en">EN</button>
    <button class="sw-ru">RU</button>
  </div>

  <div class="log">
    <a href="login"><button class="login">Login</button></a>
    <a routerLink="/sign" routerLinkActive="active"><button class="sign-up">Sign Up</button></a>
  </div>
</header>
<main>
  <form class="login_container" [formGroup]="form" (ngSubmit)="login()">
    <div class="login_input">
      <label> Login </label>
      <input id="login_area" type="text" name="login_form" formControlName="login_form" required/>
    </div>
    <div class="login_password">
      <label>Password</label>
      <input id="pass" type="password" name="password_form" formControlName="password_form" required/>
    </div>

    <button (ngSubmit)="login()" class="login_button" type="submit">Login</button>
  </form>
</main>

<footer class="footer_container">
  <div class="footer_link"><a class="git_link" href="https://github.com/MartaKutash" target="_blank">Marta Kutash</a>
    </div>
  <div class="date_footer">April 2023</div>
    <div class="rsschool">
      <a href="https://rs.school/js/" target="_blank"><img class="logo_footer" src="/./assets/img/rsschooljs.svg" alt="RSSchool logo"></a>
    </div>
</footer>
