<header>
  <div class="logoapp">
    <a id="log" href="#"><img class="logo_header" src="/./assets/img/pmaicon.svg"><i>PMA</i></a>
  </div>

  <div class="switcher">
    <button class="sw-en">EN</button>
    <button class="sw-ru">RU</button>
  </div>

  <div class="log">
    <a routerLink="/login" routerLinkActive="active"><button class="login">Login</button></a>
    <a routerLink="/sign" routerLinkActive="active"><button class="sign-up">Sign Up</button></a>
  </div>
</header>

<main>
  <form class="sigin_container" [formGroup]="form" (ngSubmit)="register()">
    <div><b> Edit profile</b> </div>
    <div class="login_input">
      <label> Login </label>
      <input class="login_area" type="text" formControlName="login_1" required pattern="string"/>
      <div *ngIf="login_1.invalid && (login_1.touched || login_1.dirty)">
        <span class="req_login" *ngIf="login_1.errors?.required">Login is required</span>
      </div>
    </div>
    <div class="login_name">
      <label>Your name</label>
      <input class="login_area" type="text" formControlName="login_name" required/>
      <div *ngIf="login_name.invalid && (login_name.touched || login_name.dirty)">
        <span class="req_name" *ngIf="login_name.errors?.required">Name is required</span>
        <span class="req_name" *ngIf="login_name.hasError('minlength')">Name must be at least 2 characters</span>
      </div>
    </div>
    <div class="login_password">
      <label>Password</label>
      <input type="password" formControlName="password_1" required/>
      <div *ngIf="password_1.invalid && (password_1.touched || password_1.dirty)">
        <span *ngIf="password_1.errors?.required">Password is required</span>
        <span class="require_passw" *ngIf="password_1.hasError('minlength')">Password must be at least 8 characters</span>
      </div>
    </div>
    <div class="repeat_password">
      <label>Repeat password</label>
      <input type="password" formControlName="password_confirmation" required/>
    </div>

    <button (ngSubmit)="register()" class="login_button" type="submit">Save</button>
    <button class="delete_account" type="submit">Delete my account</button>
  </form>
</main>

<footer class="footer_container">
  <div class="footer_link"><a class="git_link" href="https://github.com/MartaKutash" target="_blank">Marta Kutash</a>
    </div>
  <div class="date_footer">April 2023</div>
    <div class="rsschool">
      <a href="https://rs.school/js/" target="_blank"><img class="logo_footer" src="/./assets/img/rsschooljs.svg" alt="RSSchool logo"></a>
    </div>
</footer>
